<div class="nk-modal modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="ion-android-close"></span>
        </button>
        <h4 class="mb-0"><span class="text-main-1">Inicio</span> Sesion</h4>
        <div class="nk-gap-1"></div>
        <form action="{% url 'inicio_sesion' %}" method="post" role="form" class="nk-form text-white">
          {% csrf_token %}
          <div class="row vertical-gap">
            <div class="col-md-6">
              <div class="nk-gap"></div>
              <input type="text" name="username" class=" form-control" placeholder="Nombre de usuario" required>
              <div class="nk-gap"></div>
              <input type="password" name="password" class="required form-control" placeholder="Contraseña" required>
            </div>
            <div class="col-md-6">
              <div class="nk-gap"></div>
              <ul class="nk-social-links-2">
                {% include "home/links.html" %}
              </ul>
            </div>
          </div>
          <div class="nk-gap-1"></div>
          <div class="row vertical-gap">
            <div class="col-md-6">
              <button class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-block" type="submit">
                Iniciar Sesion
              </button>
            </div>
            <div class="col-md-6">
              <div class="mnt-5">
                <small>
                  <a href="" data-toggle="modal" data-target="#modalRegister">No tienes cuenta? Registrarse</a>
                </small>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>