{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>404</title>

    <meta name="description" content="Moral Games - Games Store">
    <meta name="keywords" content="game, gaming, django">
    <meta name="author" content="zlcosio21">

    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- START: Styles -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7cOpen+Sans:400,700" rel="stylesheet" type="text/css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/dist/css/bootstrap.min.css' %}">

    <!-- FontAwesome -->
    <script defer src="{% static 'assets/vendor/fontawesome-free/js/all.js' %}"></script>
    <script defer src="{% static 'assets/vendor/fontawesome-free/js/v4-shims.js' %}"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- END: Styles -->
    
</head>

<body>
    <div class="nk-main">
        <div class="nk-fullscreen-block">
            <div class="nk-fullscreen-block-middle">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                            <h1 class="text-main-1" style="font-size: 150px;">404</h1>
                            <div class="nk-gap"></div>
                            <h2 class="h4">Te equivocaste de pagina?</h2>
                            <div>
                                O simplemente la pagina no existe...<br>
                                Te gustaria volver a la pagina de inicio?
                            </div>
                            <div class="nk-gap-3"></div>
                            <a href="{% url 'inicio' %}" class="nk-btn nk-btn-rounded nk-btn-color-white">
                                Volver al inicio
                            </a>
                        </div>
                    </div>
                    <div class="nk-gap-3"></div>
                </div>
            </div>
            <div class="nk-fullscreen-block-bottom">
                <div class="nk-gap-2"></div>
                <ul class="nk-social-links-2 nk-social-links-center">
                    {% include "home/links.html" %}
                </ul>
                <div class="nk-gap-2"></div>
            </div>
        </div>
    </div>

    <!-- START: Page Background -->
    <div class="nk-page-background-fixed img-error404"></div>
    <!-- END: Page Background -->

</body>
</html>

{% endblock %}
