{% extends "MoralGamesApp/base.html" %}

{% load static %}

{% block content %}

<section id="store" class="section-with-bg">
  
  <div class="container" data-aos="fade-up">
      {% if videojuegos %}
        <div class="section-header">
          <h2 style="color: white;">Se encontro: {{busqueda}}</h2>
        </div>
      {% else %}
        <div class="section-header">
          <h2 style="color: white;">No se encontraron Resultados <br><br><a href="{% url 'tienda' %}">Volver</a></h2>
        </div>
        <div style="margin-top: 471px;"></div>
      {% endif %}

    <div class="row" data-aos="fade-up" data-aos-delay="100" id="videogame">
      {% for videojuego in videojuegos %}
        <div class="col-lg-3 col-md-6" id="videogame-card">
          <div class="hotel">
            <div class="hotel-img">
              <img src="{{videojuego.imagen.url}}" alt="Hotel 1" class="img-fluid" id="img-videogames">
            </div>
            <div id="content-videogame">
              <p>{{videojuego.nombre}}</p>
              <p>${{videojuego.precio}}</p>
              <a href="{% url 'compra' videojuego.nombre %}" class="btn btn-success">Comprar Videojuego</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

</section>

{% endblock %}