{% extends "MoralGamesApp/base.html" %}

{% load static %}

{% block content %}

<section id="purchase-history" class="section-with-bg">
  
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2 style="color: white;">Historial de Compras</h2>
    </div>

    {% for registro in historial_completo %}

      <div class="container-history">

        {% if registro.cantidad %}
          <span class="history code-buy">Codigo Compra #{{registro.id}}|</span>
          <span class="history">{{registro.videojuego}} - {{registro.cantidad}} unidades|</span>
          <span class="history-games-date">{{registro.created}}</span>
        {% else %}
          <span class="history code-buy">Codigo Carrito #{{registro.id}}|</span>
          <span class="history">{{registro.videojuego}}|</span>
          <span>{{registro.created}}</span> 
        {% endif %}

      </div>

    {% endfor %}
  
    {% if not historial_completo %}
      <div class="margin-default">
        <h3 class="error-message-buy no-car-error">Sin compras en la tienda</h3>
        <a href="{% url 'tienda' %}" style="color: white;">Comprar videojuegos</a>
      </div>
    {% endif %}
  
  </div>

</section>

{% endblock %}