{% extends "MoralGamesApp/base.html" %}

{% load static %}

{% block content %}

<section id="purchase-history" class="section-with-bg">

  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2 style="color: white;">Historial de Compras</h2>
    </div>

    {% for registro in historial_completo %}

      <div class="container-history">

        {% if registro.cantidad %}
          <span class="history code-buy">Codigo Compra #{{registro.id}}|</span>
          <span class="history">{{registro.videojuego}} - {{registro.cantidad}} unidades|</span>
          <span class="history-games-date">{{registro.created}}</span>
        {% else %}
          <span class="history code-buy">Codigo Carrito #{{registro.id}}|</span>
          <span class="history">{{registro.videojuego}}|</span>
          <span>{{registro.created}}</span>
        {% endif %}

      </div>

    {% endfor %}

    {% if not historial_completo %}
      <div class="margin-default">
        <h3 class="error-message-buy no-car-error">Sin compras en la tienda</h3>
        <a href="{% url 'tienda' %}" class="buy-games">Comprar videojuegos</a>
      </div>
    {% endif %}

    {% if historial_completo|length == 1 %}
      <span style="margin-top: 445px !important; display: block !important;"></span>
    {% elif historial_completo|length == 2 %}
      <span style="margin-top: 340px !important; display: block !important;"></span>
    {% elif historial_completo|length == 3 %}
      <span style="margin-top: 225px !important; display: block !important;"></span>
    {% elif historial_completo|length == 4 %}
      <span style="margin-top: 105px !important; display: block !important;"></span>
    {% endif %}

  </div>

</section>

{% endblock %}