{% extends "MoralGamesApp/base.html" %}

{% load static %}

{% block content %}

<section id="store" class="section-with-bg">
  
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2 style="color: white;">Store Videogames</h2>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100" id="videogame">
      {% for videojuego in videojuegos %}
        <div class="col-lg-3 col-md-6" id="videogame-card">
          <div class="hotel">
            <div class="hotel-img">
              <img src="{{videojuego.imagen.url}}" alt="Hotel 1" class="img-fluid" id="img-videogames">
            </div>
            <div id="content-videogame">
              <p>{{videojuego.nombre}} ${{videojuego.precio}}</p>
              <p id="plataform-and-genre-videogame">
                Plataformas - |
                {% for plataforma in videojuego.plataforma.all %}
                  {{plataforma.nombre}}|
                {% endfor %}
              </p>
              <p id="plataform-and-genre-videogame">
                Generos - |
                {% for genero in videojuego.genero.all %}
                  {{genero.nombre}}|
                {% endfor %}
              </p>
              <a href="#" class="btn btn-success">Comprar</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}