{% extends "MoralGamesApp/base.html" %}

{% load static %}

{% block content %}

{% block header %}

  <div class="form" class="php-email-form">

    <form action="{% url 'tienda' %}" method="post" role="form" class="php-email-form">
      {% csrf_token %}

      <div class="search">
        <input class="input-search" type="text" placeholder="Buscar" name="busqueda" class="form-control" required>
        <div class="btn-search">
          <button type="submit" class="transparent-button"><i class="fa fa-search"></i></button>
        </div>
      </div>
      
    </form>

  </div>

{% endblock %}

<section id="store" class="section-with-bg">
  
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2 style="color: white;">Store Videogames</h2>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100" id="videogame">
      {% for videojuego in videojuegos %}
        <div class="col-lg-3 col-md-6" id="videogame-card">
          <div class="hotel">
            <div class="hotel-img">
              <img src="{{videojuego.imagen.url}}" alt="Sin imagen" class="img-fluid" id="img-videogames">
            </div>
            <div id="content-videogame">
              <p>{{videojuego.nombre}}</p>
              <p>${{videojuego.precio}}</p>
              <a href="{% url 'compra' videojuego.nombre %}" class="btn btn-success">Comprar Videojuego</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}