<h3 class="nk-title h4">Direccion de Envio</h3>

<form action="{% url 'comprar_carrito' %}" method="post" role="form" class="nk-form">
    {% csrf_token %}

    <label for="country-sel">Pais <span class="text-main-1">*</span>:</label>

    <select name="country" class="form-control required" id="country-sel">
        {% include "cart/countries.html" %}
    </select>

    <div class="nk-gap-1"></div>

    <div class="row vertical-gap">
        <div class="col-sm-6">
            <label for="state">Estado / Pais <span class="text-main-1">*</span>:</label>
            <input type="text" class="form-control required" name="state" id="state" required>
        </div>
        <div class="col-sm-6">
            <label for="zip">Codigo Postal / ZIP <span class="text-main-1">*</span>:</label>
            <input type="number" class="form-control required" name="postal_code" id="zip" required>
        </div>
    </div>

    <div class="nk-gap-1"></div>

    <button class="nk-btn nk-btn-rounded nk-btn-color-main-1 float-right">
        Realizar Compra
    </button>

</form>