<h3 class="nk-title h4">Cuenta Total</h3>

<table class="nk-table nk-table-sm">
    <tbody>
        <tr class="nk-store-cart-totals-subtotal">
            <td>Sub Total</td>
            <td>$ {{total}}</td>
        </tr>
        <tr class="nk-store-cart-totals-shipping">
            <td>Envio</td>
            <td>Envio Gratis</td>
        </tr>
        <tr class="nk-store-cart-totals-total">
            <td>Total</td>
            <td>$ {{total}}</td>
        </tr>
    </tbody>
</table>