<div class="nk-modal modal fade" id="modalUpdateCart" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>
                <h4 class="mb-0"><span class="text-main-1">Actualizar</span> Carrito</h4>
                <div class="nk-gap-1"></div>
                <form action="{% url 'actualizar_carrito' %}" method="post" role="form" class="nk-form text-white">
                    {% csrf_token %}
                    <div class="row vertical-gap">
                        {% for item in cart %}
                        <div class="col-md-6">
                            <a href="store-product.html" class="nk-image-box-1 nk-post-image">
                                <img src="{{ item.videogame.image.url }}" alt="{{ item.videogame.name }}"
                                    width="80">
                            </a>
                        </div>
                        <div class="col-md-6">
                            <div class="nk-gap-1"></div>
                            <h5 class="h5">{{ item.videogame.name }}</h5>
                            <input type="hidden" name="id_{{ forloop.counter }}" value="{{ item.id }}">
                            <input type="number" name="quantity_{{ forloop.counter }}" class="form-control"
                                value="{{ item.cantidad }}" min="1" max="10"
                                oninput="limitQuantity(this)">
                        </div>
                        {% endfor %}
                    </div>
                    <div class="nk-gap-1"></div>
                    <div class="row vertical-gap">
                        <div class="col-md-6">
                            <button class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-block" type="submit">
                                Actualizar
                            </button>
                        </div>
                        <div class="col-md-6">
                            <a class="nk-btn nk-btn-rounded nk-btn-color-main-1 nk-btn-block"
                                href="{% url 'vaciar_carrito' %}">
                                Vaciar Carrito
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>