<li>
    <a class="nk-social-github" href="https://github.com/zlcosio21">
        <span class="fab fa-github"></span>
    </a>
</li>
<li>
    <a class="nk-social-linkedin" href="https://www.linkedin.com/in/sebastian-ags">
        <span class="fab fa-linkedin"></span>
    </a>
</li>
<li>
    <a class="nk-social-rss" href="https://zlcosio21.me">
        <span class="fa fa-rss"></span>
    </a>
</li>
<li>
    <a class="nk-social-google-plus" href="mailto:sebas60621@gmail.com">
        <span class="fa fa-google-plus"></span>
    </a>
</li>