<!-- NAV STORE -->
<li class=" nk-drop-item">

    <a href="{% url 'tienda' %}">
        Tienda
    </a>

    <ul class="dropdown">
        <li>
            <a href="{% url 'tienda' %}">Tienda</a>
        </li>

        <li>
            <a href="{% url 'probar_suerte' %}">Probar Suerte</a>
        </li>

        <li>
            <a href="{% url 'genero_videojuego' %}">Generos</a>
        </li>

        <li>
            <a href="{% url 'plataforma_videojuego' %}">Plataformas</a>
        </li>

        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'historial_compra' %}">Historial Compra</a>
        </li>
        {% else %}
        <li>
            <a href="#" data-toggle="modal" data-target="#modalLogin">Historial Compra</a>
        </li>
        {% endif %}

    </ul>
</li>


<!-- NAV CART -->
<li class=" nk-drop-item">

    {% if user.is_authenticated %}

    <a href="{% url 'carrito' %}">
        Carrito
    </a>

    <ul class="dropdown">
        <li>
            <a href="#" data-toggle="modal" data-target="#modalLogin">Historial Compra</a>
        </li>
    </ul>

    {% else %}

    <a href="{% url 'tienda' %}">
        Carrito
    </a>

    <ul class="dropdown">
        <li>
            <a href="#" data-toggle="modal" data-target="#modalLogin">Historial Compra</a>
        </li>
    </ul>

    {% endif %}

</li>


<!-- NAV BLOGS -->
<li class=" nk-drop-item">
    <a href="{% url 'blog' %}">Blog</a>
</li>


<!-- NAV GALLERY -->
<li>
    <a href="{% url 'galeria' %}">Galeria</a>
</li>