<div class="nk-modal modal fade" id="modalSearch" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="ion-android-close"></span>
                </button>
                <h4 class="mb-0">Buscar</h4>
                <div class="nk-gap-1"></div>
                <form action="{% url 'buscar' %}" method="post" role="form" class="nk-form nk-form-style-1">
                    {% csrf_token %}
                    <input type="text" name="search" class="form-control" placeholder="Escriba algo y presione enter"
                        autofocus required>
                </form>
            </div>
        </div>
    </div>
</div>