MoralGamesWeb/__init__.py
MoralGamesWeb/__pycache__

MoralGamesApp/__init__.py
MoralGamesApp/__pycache__
MoralGamesApp/migrations

contacto/__init__.py
contacto/__pycache__
contacto/migrations

blog/__init__.py
blog/__pycache__
blog/migrations

autenticacion/__init__.py
autenticacion/__pycache__
autenticacion/migrations

db.sqlite3
.env
__pycache__