MoralGamesWeb/__pycache__

MoralGamesApp/__pycache__

contacto/__pycache__

blog/__pycache__

autenticacion/__pycache__

inventario/__pycache__

tienda/__pycache__

carrito/__pycache__

db.sqlite3
.env
__pycache__
media/
.vscode/
virtual
staticfiles