{% extends "MoralGamesApp/base.html" %}

{% load static %}

{% block content %}

<section id="car" class="section-with-bg">
  
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2 style="color: white;">Carrito de Compras</h2>
    </div>

    {% for item in carrito %}
      <div class="container-car">
        <div class="align-card-car">
            
          <a href="{% url 'compra' item.videojuego.nombre %}">
            <img src="{{item.videojuego.imagen.url}}" alt="Sin imagen"  style="width: 7%; height: 7%;">
            <span style="color: white; margin-left: 10px;">{{item.videojuego.nombre}}</span>
            <span style="color: greenyellow;">${{item.videojuego.precio}}</span>
          </a>

          <form action="{% url 'compra' item.videojuego.nombre %}" method="post" role="form" style="display: flex; flex-direction: row;">
            {% csrf_token %}
            
            <button type="button" class="btn btn-sm btn-success increment" style="width: 80px; background-color: #687EFF; margin-right: 10px;">+</button>   
            <input type="number" name="quantity" value="1" min="1" style="width: 60px; background-color: #687EFF; margin-right: 10px;" class="btn btn-sm btn-success quantity">
            <button type="button" class="btn btn-sm btn-success decrement" style="width: 80px; background-color: #687EFF; margin-right: 10px;">-</button>
            <button class="btn btn-success" type="submit" style="margin-bottom: 0px;background-color: green;">Comprar</button>
          </form>
          
        </div>

      </div>
      
    {% endfor %}

    <span style="text-align: center;">
      <a href="#" class="btn btn-success" style="display: inline-block; margin-bottom: 25px;">Vaciar carrito</a>
    </span>
    
  </div>

</section>

{% endblock %}