{% extends "MoralGamesApp/base.html" %}

{% load static %}

{% block content %}

<section id="car" class="section-with-bg">
  
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2 style="color: white;">Carrito de Compras</h2>
    </div>

    {% for item in carrito %}

      <div class="container-car">
        <div class="align-card-car">
            
          <a href="{% url 'compra' item.videojuego.nombre %}">
            <img src="{{item.videojuego.imagen.url}}" alt="Sin imagen" style="width: 7%; height: 7%;">
            <span class="name-videogame-car">{{item.videojuego.nombre}}|</span>
            <span style="color: greenyellow;">${{item.videojuego.precio}}</span>
            <span style="color: white;">|{{item.cantidad}} unidades</span>
          </a>

          <div class="buttons-car">
            <a class="btn btn-success delete-game-car" href="{% url 'eliminar_del_carrito' item.videojuego.nombre %}">Eliminar</a>
            <a class="btn btn-success" href="{% url 'compra' item.videojuego.nombre %}" style="background-color: green;">Comprar</a>
          </div>
          
        </div>
      </div>
      
    {% endfor %}
    
    {% if carrito %}

      <form action="{% url 'comprar_carrito' %}" method="post" role="form" id="payment-form" style="display: flex; flex-direction: row; justify-content: center;">
        {% csrf_token %}

        <a href="{% url 'vaciar_carrito' %}" class="btn btn-success delete-car">Vaciar carrito</a>

        <div id="card-element" class="stripe"></div>
        <button type="submit" id="submit-button" class="btn btn-success" style="margin-bottom: 25px; background-color: green;">Comprar</button>

      </form> 

      <div id="card-errors" role="alert" class="error-stripe"></div> 

    {% else %}

      {% for message in messages %}
        <div class="error-message-buy success-message-car">{{message}}</div>
      {% empty  %}
        <h3 class="error-message-buy no-car-error">Sin videojuegos en el carrito</h3>
      {% endfor %}

    {% endif %} 
    
  </div>

</section>

{% endblock %}