{% extends "MoralGamesApp/base.html" %}

{% load static %}

{% block content %}

<section id="contact" class="section-bg">

  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2 style="color: white !important;">Contactanos</h2>
    </div>

    <div class="row contact-info">

      <div class="col-md-4">
        <div class="contact-address">
          <i class="bi bi-geo-alt"></i>
          <h3>Direccion</h3>
          <address>Cl. 58 #55 - 66, Nte. Centro Historico, Barranquilla, Atlántico</address>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-phone">
          <i class="bi bi-phone"></i>
          <h3>Phone Number</h3>
          <p><a href="tel:+155895548855">+57 310 5217565</a></p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contact-email">
          <i class="bi bi-envelope"></i>
          <h3>Email</h3>
          <p><a href="mailto:info@example.com">DjangoWebProjectPI@gmail.com</a></p>
        </div>
      </div>

    </div>

    <div class="form">
      <form action="forms/contact.php" method="post" role="form" class="php-email-form">
        <div class="row">
          <div class="form-group col-md-6">
            <input type="text" name="name" class="form-control" id="name" placeholder="Tu nombre" required>
          </div>
          <div class="form-group col-md-6 mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Tu correo" required>
          </div>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required></textarea>
        </div>
        
        <br>

        <div class="text-center"><button type="submit">Enviar mensaje</button></div>
      </form>
    </div>

  </div>
</section>

</main>

{% endblock %}