{% extends "MoralGamesApp/base.html" %}

{% load static %}

{% block content %}

<section id="hotels" class="section-with-bg">

  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2 style="color: white;">Blogs</h2>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">

      {% for post in posts %}

        <div class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img src="{{post.imagen.url}}" alt="Hotel 1" class="img-blog">
            </div>
            <h3>{{post.titulo}}</h3>
            <p>{{post.contenido}}</p>
          </div>
        </div>

      {% endfor %}
    </div>

  </div>
</section>
{% endblock %}
